@import "mixins.scss";

.tickets-inner {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  .tickets__picture {
    .tickets__img {
      width: 100%;
      height: auto;
    }
  }
  .tickets__type-title,
  .tickets__cost-title,
  .tickets__total {
    @include font("Roboto", 28px, 32px, black, 700);
  }
  .tickets__radio-text,
  .tickets__age-text,
  .tickets__input,
  .tickets__total-btn {
    @include font("Roboto", 22px, 26px, black, 300);
  }
  .tickets__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    .tickets__type-inner {
      display: inline-block;
      .tickets__container {
        display: flex;
        align-items: center;
        input[type="radio"] {
          display: none;
        }
        .checkmark {
          position: relative;
          display: inline-block;
          margin-right: 20px;
          height: 17px;
          width: 17px;
          border-radius: 9px;
          border: 3px solid $black;
          &:after {
            display: none;
            position: absolute;
            content: " ";
            top: 2px;
            left: 2px;
            width: 7px;
            height: 7px;
            border-radius: 4px;
            background-color: $black;
          }
        }
        input[type="radio"]:checked + .checkmark:after {
          display: block;
        }
        &:hover {
          cursor: pointer;
        }
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
      .tickets__type-title {
        text-align: start;
        margin-bottom: 50px;
      }
    }
  }
  .tickets__amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .tickets__amount-inner {
      display: inline-block;
      .tickets__age-text {
        margin-bottom: 15px;
        text-align: center;
      }
      .tickets__cost-title {
        text-align: end;
        margin-bottom: 25px;
      }
      .tickets__total {
        margin-top: 50px;
        text-align: end;
      }
      .tickets__amount-age {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-bottom: 10px;
        .tickets__input {
          display: inline-block;
          padding-left: 10%;
          border: 3px solid black;
          border-left: none;
          border-right: none;
          text-align: center;
        }
      }
      .tickets__btn {
        background: none;
        border: 3px solid black;
        font-size: 32px;

        outline: none;
      }
      .tickets__total-btn {
        margin-top: 60px;
        padding: 10px 38px 10px 38px;
        border-radius: 3px;
        outline: none;
        background-color: $black;
        color: $white;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        &:hover {
          background-color: $gold;
          color: $black;
        }
      }
      .plus-senior,
      .plus-basic {
        border-left: none;
      }
      .minus-senior,
      .minus-basic {
        border-right: none;
      }
    }
  }
}
@media (max-width: 1024px) {
  .tickets-inner {
    grid-template-columns: 2fr 0fr 1fr;
    column-gap: 15px;
    justify-items: center;
    .tickets__picture {
      .tickets__img {
        height: 440px;
        width: 700px;
      }
    }
    .tickets__type {
      .tickets__type-inner {
        display: none;
      }
    }
    .tickets__amount {
      .tickets__amount-inner {
        .tickets__cost-title,
        .tickets__age-text {
          text-align: start;
        }
        .tickets__total {
          margin-top: 25px;
        }
        .tickets__amount-age {
          .tickets__input {
            padding-left: -10px;
            font-size: 36px;
          }
        }
      }
    }
  }
}
@media (max-width: 950px) {
  .tickets-inner {
    grid-template-columns: 2fr 0fr 1fr;
    column-gap: 15px;
    justify-items: center;
    .tickets__picture {
      .tickets__img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .tickets-inner {
    .tickets__amount {
      align-items: flex-start;
      .tickets__amount-inner {
        .tickets__amount-age {
          margin-right: 15px;
          margin-bottom: 25px;
        }
        .tickets__total {
          margin-top: 40px;
        }
        .tickets__total-btn {
          padding: 10px 48px;
          margin-top: 40px;
        }
        .tickets__cost-title {
          margin-bottom: 40px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .tickets-inner {
    display: block;
    .tickets__type-title,
    .tickets__cost-title,
    .tickets__total {
      @include font("Roboto", 16px, 19px, black, 700);
    }
    .tickets__radio-text,
    .tickets__age-text,
    .tickets__input,
    .tickets__total-btn {
      @include font("Roboto", 16px, 19px, black, 300);
    }
    .tickets__picture {
      .tickets__img {
        max-height: 160px;
        width: 100%;
      }
    }
    .tickets__amount {
      margin-top: 40px;
      align-items: center;
      .tickets__amount-inner {
        .tickets__cost-title {
          margin-bottom: 20px;
          text-align: center;
        }
        .tickets__age-text {
          text-align: start;
        }
        .tickets__total {
          text-align: center;
          margin-top: 40px;
        }
        .tickets__amount-age {
          margin-right:0;
          .tickets__input {
            font-size: 34px;
          }
        }
      }
    }
  }
}
