@import "mixins.scss";

.visiting-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-column-gap: 60px;
  grid-row-gap: 75px;
  grid-auto-flow: row;
}
.visiting__card {
  color: black;
}
.visiting__card:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  background-color: #ece7e2;
  transition: all 0.2s ease-out;
}
.visiting__card-name {
  margin-top: 25px;
  padding-bottom: 20px;
  font-family: "Forum";
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}


.visiting__card:hover .underline-card:after {
  width: 99%;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.visiting__card-subscibtion {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 32px;
}
.visiting__card-subscibtion span {
  font-size: 18px;
  line-height: 21px;
}
.visiting__img {
  max-width: 100%;
}
